<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    body{font-family: Arial; text-align: center;}
    nav ul {padding: 0; list-style: none; display: flex; background-color: pink; justify-content: center;}
    nav a {padding: 8px; text-decoration: none; background-color: lightblue; display: block;}
    #logo {height: 100px; width: 100px;}     
    </style>
    <title>Pokemon</title>
</head>
<body>
    <header><img id="logo" src="https://vignette.wikia.nocookie.net/pk-unlimitednova/images/e/eb/Logo_Liga_Pok%C3%A9mon.png/revision/latest?cb=20190125000914&path-prefix=es"></header>

    <nav>
        <ul>
            <li>
                <a href="~/Home/Index">Pagina Principal</a>
            </li>
            <li>
                <a href="~/Home/Formulario">Inscripción</a>
            </li>
        </ul>
    </nav>
    
    <main>@RenderBody()</main>
    <footer>Ricardo León López</footer>
</body>
</html>